body {
  margin: 0;
  padding: 0; }
  body .app {
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 40px 100px 40px; }
    body .app .app-logo {
      border: 1px solid transparent;
      border-radius: 50%; }
    body .app .app-header {
      text-align: center; }
    body .app .header-3 {
      color: #333; }
    body .app .app-title {
      color: #222;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0px;
      text-align: center; }
    body .app .app-subtitle {
      color: #aaa;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      margin-top: 10px; }
    body .app .app-body {
      color: #666;
      line-height: 1.7; }
    body .app .separator {
      color: #aaa; }
    body .app .label-li {
      font-weight: 700; }
    body .app .date {
      font-style: italic;
      font-size: 12px; }
    body .app .app-icons-social {
      text-align: center; }
      body .app .app-icons-social .fa {
        color: #cdd4da;
        font-size: 2rem;
        text-decoration: none;
        margin-right: 0.3rem; }
    body .app .app-footer {
      color: #bbb;
      font-size: 14px;
      line-height: 1.5;
      display: block;
      text-align: center;
      margin-top: 20px;
      text-align: center; }
