$text-color-primary: #222;
$text-color-secundary: #aaa;
$text-color-third: #666;
$header-3-color: #333;

body {
  margin: 0;
  padding: 0;

  .app {
    background-color: rgba(255, 255, 255, .90);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 40px 100px 40px;

    .app-logo {
      border: 1px solid transparent;
      border-radius: 50%;
    }

    .app-header {
      text-align: center;
    }

    .header-3 {
      color: $header-3-color;
    }

    .app-title {
      color: $text-color-primary;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0px;
      text-align: center;
    }

    .app-subtitle {
      color: $text-color-secundary;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      margin-top: 10px;
    }

    .app-body {
      color: $text-color-third;
      line-height: 1.7;
    }

    .separator {
      color: #aaa;
    }

    .label-li {
      font-weight: 700;
    }

    .date {
      font-style: italic;
      font-size: 12px;
    }

    .app-icons-social {
      text-align: center;

      .fa {
        color: #cdd4da;
        font-size: 2rem;
        text-decoration: none;
        margin-right: 0.3rem;
      }

    }

    .app-footer {
      color: #bbb;  
      font-size: 14px;
      line-height: 1.5;
      display: block;
      text-align: center;
      margin-top: 20px;
      text-align: center;
    }

  }

}